[submodule "open-source-rover"]
	path = open-source-rover
	url = http://github.com/nasa-jpl/open-source-rover
[submodule "osr-app-acord"]
	path = osr-app-acord
	url = https://gitlab.com/acord-robotics/osr-android-app
[submodule "acord-robotics"]
	path = acord-robotics
	url = https://gitlab.com/acord-robotics/acord-robotics
[submodule "padawan360-acord"]
	path = padawan360-acord
	url = https://gitlab.com/acord-robotics/robodev/padawan360
[submodule "logs\\submods\\osr-code\\motor-comments-1"]
	path = logs\\submods\\osr-code\\motor-comments-1
	url = https://gitlab.com/IrisDroidology/osr-rover-code