{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/starboywindowheader.png",
      "fileBody" : "/interface/starboywindowbody.png"
    },
	"scoreLabel" : { 
      "type" : "label",
      "position" : [200, 310],
      "vAnchor" : "mid",
      "hAnchor" : "mid",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
	"livesLabel" : { 
      "type" : "label",
      "position" : [5, 310],
      "vAnchor" : "mid",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
	"levelLabel" : { 
      "type" : "label",
      "position" : [350, 310],
      "vAnchor" : "mid",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 22, 395, 318],
      "captureMouseEvents" : true,
	  "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 324]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Aether Wings",
      "subtitle" : "^#b9b5b2;Starboy, Inc",
      "position" : [74, 402],
      "icon" : {
        "type" : "image",
        "file" : "/interface/starboyaetherwingsgame/gameicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
  },

  "scripts" : [ "/interface/starboyaetherwingsgame/starboyaetherwingsgameinterface.lua" ],
  "scriptDelta" : 1,
  "openedFromHand" : false,
  
  "canvasClickCallbacks" : {
    "consoleScreenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "consoleScreenCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [],

  "nameLabel" : "name > ",
  "descriptionLabel" : "description > ",

  "sounds" : {
    "shoot" : "/interface/starboyaetherwingsgame/machinegun1.ogg",
    "enemyshoot" : "/interface/starboyaetherwingsgame/enemyshoot.ogg",
    "shipdestroyed1" : "/interface/starboyaetherwingsgame/shipdestroyed1.ogg",
    "shipdestroyed2" : "/interface/starboyaetherwingsgame/shipdestroyed2.ogg",
    "playerhit" : "/interface/starboyaetherwingsgame/playerhit2.ogg",
    "bullethit" : "/interface/starboyaetherwingsgame/bullethit.ogg",
    "powerup" : "/interface/starboyaetherwingsgame/powerup.ogg",
    "shipflyby" : "/interface/starboyaetherwingsgame/shipflyby.ogg",
	"startup" : "/interface/starboyaetherwingsgame/startup.ogg",
	"startup2" : "/interface/starboyaetherwingsgame/startup2.ogg",
	"structuredestroyed": "/interface/starboyaetherwingsgame/StructureDestroyed.ogg",
	"defeat": "/interface/starboyaetherwingsgame/defeat2.ogg"
  }
}
