{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/starboywindowheader.png",
      "fileBody" : "/interface/starboywindowbody.png"
    },
	"scoreLabel" : { 
      "type" : "label",
      "position" : [200, 310],
      "vAnchor" : "mid",
      "hAnchor" : "mid",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
	"levelLabel" : { 
      "type" : "label",
      "position" : [350, 310],
      "vAnchor" : "mid",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 22, 395, 318],
      "captureMouseEvents" : true,
	  "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 324]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Protectorate Defense",
      "subtitle" : "^#b9b5b2;Starboy, Inc",
      "position" : [74, 402],
      "icon" : {
        "type" : "image",
        "file" : "/interface/starboyprotectoratedefensegame/gameicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
  },

  "scripts" : [ "/interface/starboyprotectoratedefensegame/starboyprotectoratedefensegameinterface.lua" ],
  "scriptDelta" : 1,
  "openedFromHand" : true,

  "canvasClickCallbacks" : {
    "consoleScreenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "consoleScreenCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [],

  "nameLabel" : "name > ",
  "descriptionLabel" : "description > ",

  "sounds" : {
    "shoot" : "/interface/starboyprotectoratedefensegame/laser1.ogg",
	"meteoroidExplosion3" : "/interface/starboyprotectoratedefensegame/meteoroidExplosion3.ogg",
	"startup" : "/interface/starboyprotectoratedefensegame/startup.ogg",
	"startup2" : "/interface/starboyprotectoratedefensegame/startup2.ogg",
	"ammoempty": "/interface/starboyprotectoratedefensegame/AmmoEmpty.ogg",
	"bonusscore": "/interface/starboyprotectoratedefensegame/BonusScore.ogg",
	"missileexplosion": "/interface/starboyprotectoratedefensegame/MissileExplosion.ogg",
	"missileexplosion2": "/interface/starboyprotectoratedefensegame/MissileExplosion2.ogg",
	"shiploop": "/interface/starboyprotectoratedefensegame/ShipLoop.ogg",
	"shiploop2": "/interface/starboyprotectoratedefensegame/ShipLoop2.ogg",
	"missilelaunch": "/interface/starboyprotectoratedefensegame/MissileLaunch.ogg",
	"structuredestroyed": "/interface/starboyprotectoratedefensegame/StructureDestroyed.ogg",
	"defeat": "/interface/starboyprotectoratedefensegame/defeat.ogg"
  }
}
