{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/starboywindowheader.png",
      "fileBody" : "/interface/starboywindowbody.png"
    },
	"scoreLabel" : { 
      "type" : "label",
      "position" : [200, 310],
      "vAnchor" : "top",
      "hAnchor" : "mid",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
	"livesLabel" : { 
      "type" : "label",
      "position" : [5, 310],
      "vAnchor" : "top",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
	"levelLabel" : { 
      "type" : "label",
      "position" : [340, 310],
      "vAnchor" : "top",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 22, 395, 318],
      "captureMouseEvents" : true,
	  "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 324]
    },
    "reset" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Reset",
	  "visible" : false,
      "pressedOffset" : [0, -1],
      "position" : [5, 7]
    },
    "resetConfirm" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Confirm",
	  "visible" : false,
      "pressedOffset" : [0, -1],
      "position" : [80, 7]
    },
    "resetCancel" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Cancel",
	  "visible" : false,
      "pressedOffset" : [0, -1],
      "position" : [140, 7]
    },
	"openFoodMenu" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/foodbutton.png",
      "pressedOffset" : [1, -1],
      "position" : [210, 255],
	  "visible" : false,
	  "callBack" : "openFoodMenu"
    },
	"openPlayMenu" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/playbutton.png",
      "pressedOffset" : [1, -1],
      "position" : [270, 255],
	  "visible" : false,
	  "callBack" : "openPlayMenu"
    },
	"clean" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/cleanbutton.png",
      "pressedOffset" : [1, -1],
      "position" : [330, 255],
	  "visible" : false,
	  "callBack" : "clean"
    },
	"feedApple" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/fruitfoodbutton.png",
      "pressedOffset" : [1, -1],
      "position" : [150, 195],
	  "visible" : false,
	  "callBack" : "feedApple"
    },
	"feedMeat" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/meatfoodbutton.png",
      "pressedOffset" : [1, -1],
      "position" : [210, 195],
	  "visible" : false,
	  "callBack" : "feedMeat"
    },
	"feedBread" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/breadfoodbutton.png",
      "pressedOffset" : [1, -1],
      "position" : [270, 195],
	  "visible" : false,
	  "callBack" : "feedBread"
    },
	"feedDessert" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/dessertfoodbutton.png",
      "pressedOffset" : [1, -1],
      "position" : [330, 195],
	  "visible" : false,
	  "callBack" : "feedDessert"
    },
	"playFetch" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/fetchplaybutton.png",
      "pressedOffset" : [1, -1],
      "position" : [210, 195],
	  "visible" : false,
	  "callBack" : "playFetch"
    },
	"playRace" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/raceplaybutton.png",
      "pressedOffset" : [1, -1],
      "position" : [270, 195],
	  "visible" : false,
	  "callBack" : "playRace"
    },
	"playMusic" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/musicplaybutton.png",
      "pressedOffset" : [1, -1],
      "position" : [330, 195],
	  "visible" : false,
	  "callBack" : "playMusic"
    },
	"musicNoteButton1" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/musicnoteButton1.png",
	  "pressed" : "/interface/starboyastropet/musicnoteButton2.png",
      "pressedOffset" : [1, -1],
      "position" : [191, 192],
	  "visible" : false,
	  "callBack" : "musicNoteButton1"
    },
	"musicNoteButton2" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/musicnoteButton1.png",
	  "pressed" : "/interface/starboyastropet/musicnoteButton3.png",
      "pressedOffset" : [1, -1],
      "position" : [146, 147],
	  "visible" : false,
	  "callBack" : "musicNoteButton2"
    },
	"musicNoteButton3" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/musicnoteButton1.png",
	  "pressed" : "/interface/starboyastropet/musicnoteButton4.png",
      "pressedOffset" : [1, -1],
      "position" : [236, 147],
	  "visible" : false,
	  "callBack" : "musicNoteButton3"
    },
	"musicNoteButton4" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/musicnoteButton1.png",
	  "pressed" : "/interface/starboyastropet/musicnoteButton5.png",
      "pressedOffset" : [1, -1],
      "position" : [191, 102],
	  "visible" : false,
	  "callBack" : "musicNoteButton4"
    },
	"jumpButton" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/starboyastropet/jumpButton.png",
      "pressedOffset" : [1, -1],
      "position" : [191, 152],
	  "visible" : false,
	  "callBack" : "jumpButton"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "AstroPet",
      "subtitle" : "^#b9b5b2;Starboy, Inc",
      "position" : [74, 402],
      "icon" : {
        "type" : "image",
        "file" : "/interface/starboyastropet/gameicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
  },

  "scripts" : [ "/interface/starboyastropet/starboyastropetinterface.lua" ],
  "scriptDelta" : 1,

  "canvasClickCallbacks" : {
    "consoleScreenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "consoleScreenCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [
    "openFoodMenu", "openPlayMenu", "clean", "feedApple", "feedMeat", "feedBread", "feedDessert", "playFetch", "playRace", "playMusic", "musicNoteButton1", "musicNoteButton2", "musicNoteButton3", "musicNoteButton4", "jumpButton", "reset", "resetConfirm", "resetCancel"
  ],

  "nameLabel" : "name > ",
  "descriptionLabel" : "description > ",

  "babyPotentialEvolutions" : ["tadpoll","skully","bitey","peep"],
  "babyAnimationOverrides" : {"sheet" : "/interface/starboyastropet/petbaby.png", "width" : 30, "height" : 24},
  "tadpollAnimationOverrides" : {"sheet" : "/interface/starboyastropet/pet1.png", "width" : 48, "height" : 24},
  "biteyAnimationOverrides" : {"sheet" : "/interface/starboyastropet/pet2.png", "width" : 40, "height" : 24},
  "skullyAnimationOverrides" : {"sheet" : "/interface/starboyastropet/pet3.png", "width" : 48, "height" : 24},
  "chompoAnimationOverrides" : {"sheet" : "/interface/starboyastropet/pet4.png", "width" : 48, "height" : 30, "eat" : {"startFrame" : 9, "endFrame" : 10, "duration" : 1}, "walk" : {"startFrame" : 3, "endFrame" : 6, "duration" : 0.33}},
  "steggyAnimationOverrides" : {"sheet" : "/interface/starboyastropet/pet5.png", "width" : 48, "height" : 36},
  "molderAnimationOverrides" : {"sheet" : "/interface/starboyastropet/pet6.png", "width" : 48, "height" : 30},
  "snackAnimationOverrides" : {"sheet" : "/interface/starboyastropet/pet7.png", "width" : 48, "height" : 24},
  "peepAnimationOverrides" : {"sheet" : "/interface/starboyastropet/pet8.png", "width" : 32, "height" : 24, "eat" : {"startFrame" : 9, "endFrame" : 10, "duration" : 1}},
  "tookaAnimationOverrides" : {"sheet" : "/interface/starboyastropet/pet9.png", "width" : 48, "height" : 30, "walk" : {"startFrame" : 3, "endFrame" : 6, "duration" : 0.25}, "eat" : {"startFrame" : 9, "endFrame" : 10, "duration" : 1}},
  "poppyAnimationOverrides" : {"sheet" : "/interface/starboyastropet/pet10.png", "width" : 48, "height" : 36, "walk" : {"startFrame" : 3, "endFrame" : 6, "duration" : 1}},
   
  "tadpollRequirements" : {"statRequirements" : {"age" : {"over" : true, "value" : 200}, "happiness" : {"over" : true, "value" : 30}}},
  "tadpollPotentialEvolutions" : ["steggy", "chompo"],
  
  "biteyRequirements" : {"statRequirements" : {"age" : {"over" : true, "value" : 200}, "meat" : {"over" : true, "value" : 9}, "hunger" : {"over" : true, "value" : 30}}},
  "biteyPotentialEvolutions" : ["steggy", "chompo", "tooka"],
  "biteyChanges" : {"preferenceChanges" : {"meat" : {"multiply" : true, "value" : 1.3},
											"fruit" : {"multiply" : true, "value" : 0.7},
											"bread": {"multiply" : true, "value" : 0.7},
											"race" : {"multiply" : true, "value" : 1.2},
											"music" : {"multiply" : true, "value" : 0.8}}
				    },
  
  "peepRequirements" : {"statRequirements" : {"age" : {"over" : true, "value" : 200}, "bread" : {"over" : true, "value" : 9}, "happiness" : {"over" : true, "value" : 30}}},
  "peepPotentialEvolutions" : ["tooka"],
  "peepChanges" : {"preferenceChanges" : {"bread" : {"multiply" : true, "value" : 1.3},
											"toy" : {"multiply" : true, "value" : 0.8},
											"music" : {"multiply" : true, "value" : 1.4}}
				    },
					
  "tookaRequirements" : {"statRequirements" : {"age" : {"over" : true, "value" : 300}, "fruit" : {"over" : true, "value" : 9}, "bread" : {"over" : true, "value" : 9}, "happiness" : {"over" : true, "value" : 40}}},
  "tookaChanges" : {"preferenceChanges" : {"fruit" : {"multiply" : true, "value" : 1.3},
											"toy" : {"multiply" : true, "value" : 1.2},
											"music" : {"multiply" : true, "value" : 1.2}}
				    },
  
  "skullyRequirements" : {"statRequirements" : {"meat" : {"under" : true, "value" : 0}, "fruit" : {"under" : true, "value" : 0}, "bread" : {"under" : true, "value" : 0}, "sweet" : {"under" : true, "value" : 0}, "age" : {"over" : true, "value" : 200}}},
  "skullyChanges" : {"preferenceChanges" : {"meat" : {"add" : true, "value" : 35},
											"fruit" : {"set" : true, "value" : -1},
											"bread" : {"set" : true, "value" : -1},
											"sweet" : {"set" : true, "value" : -1},
											"toy" : {"multiply" : true, "value" : 0.5},
											"race" : {"multiply" : true, "value" : 0.5},
											"music" : {"multiply" : true, "value" : 1.5}},
					 "statChanges" : {"fitness" : {"set" : true, "value" : 0},
									  "health" : {"set" : true, "value" : 0},
									  "fullness" : {"set" : true, "value" : 0}}
					},

  "molderRequirements" : {"statRequirements" : {"fruit" : {"over" : true, "value" : 0}, "health" : {"under" : true, "value" : 10}, "age" : {"over" : true, "value" : 20}}},
  "molderChanges" : {"preferenceChanges" : {"meat" : {"multiply" : true, "value" : 1.2},
											"fruit" : {"multiply" : true, "value" :  1.2},
											"bread" : {"multiply" : true, "value" :  1.2},
											"sweet" : {"multiply" : true, "value" :  1.2},
											"toy" : {"multiply" : true, "value" : 0.75},
											"race" : {"multiply" : true, "value" : 0.75},
											"music" : {"multiply" : true, "value" : 0.75}},
					 "statChanges" : {"fitness" : {"set" : true, "value" : 0}}
					},
					
  "chompoRequirements" : {"statRequirements" : {"meat" : {"over" : true, "value" : 15}, "age" : {"over" : true, "value" : 300}}},
  "chompoPotentialEvolutions" : ["snack", "poppy"],
  "chompoChanges" : {"preferenceChanges" : {"meat" : {"add" : true, "value" : 25},
											"fruit" : {"multiply" : true, "value" : 0.8},
											"bread" : {"multiply" : true, "value" : 0.8}}
					},
				
  "steggyRequirements" : {"statRequirements" : {"meat" : {"under" : true, "value" : 15}, "age" : {"over" : true, "value" : 200}, "happiness" : {"over" : true, "value" : 50}}},				
  "steggyPotentialEvolutions" : ["snack"],
  "steggyChanges" : {"preferenceChanges" : {"meat" : {"multiply" : true, "value" : 0.7},
											"fruit" : {"multiply" : true, "value" : 1.4},
											"bread": {"multiply" : true, "value" : 1.1},
											"sweet": {"multiply" : true, "value" : 1.4},
											"toy" : {"multiply" : true, "value" : 1.2},
											"race" : {"multiply" : true, "value" : 0.6},
											"music" : {"multiply" : true, "value" : 1.3}}
				    },
					
  "snackRequirements" : {"statRequirements" : {"meat" : {"over" : true, "value" : 30}, "fruit" : {"under" : true, "value" : 9}, "age" : {"over" : true, "value" : 300}}},
  "snackChanges" : {"preferenceChanges" : {"meat" : {"multiply" : true, "value" : 1.2},
											"fruit" : {"add" : true, "value" : -30},
											"bread" : {"multiply" : true, "value" : 0.8},
											"race" : {"multiply" : true, "value" : 1.2},
											"toy" : {"multiply" : true, "value" : 1.2},
											"music" : {"multiply" : true, "value" : 0.7}}
					},
					
  "poppyRequirements" : {"statRequirements" : {"music" : {"over" : true, "value" : 3}, "age" : {"over" : true, "value" : 200}}},
  "poppyChanges" : {"preferenceChanges" : {"meat" : {"multiply" : true, "value" : 1.2},
											"bread" : {"multiply" : true, "value" : 0.8},
											"race" : {"multiply" : true, "value" : 0.8},
											"toy" : {"multiply" : true, "value" : 1.2},
											"music" : {"multiply" : true, "value" : 1.7}}
					},					
  
  "sounds" : {
    "shoot" : "/interface/starboymeteoroidsgame/laser1.ogg",
	"meteoroidExplosion1" : "/interface/starboymeteoroidsgame/meteoroidExplosion1.ogg",
	"meteoroidExplosion2" : "/interface/starboymeteoroidsgame/meteoroidExplosion2.ogg",
	"meteoroidExplosion3" : "/interface/starboymeteoroidsgame/meteoroidExplosion3.ogg",
	"startup" : "/interface/starboymeteoroidsgame/startup.ogg",
	"startup2" : "/interface/starboymeteoroidsgame/startup2.ogg",
	"shiphit" : "/interface/starboymeteoroidsgame/shiphit.ogg",
	"titlescroll" : "/interface/starboymeteoroidsgame/titlescroll.ogg",
	"shipexplosion" : "/interface/starboymeteoroidsgame/shipexplosion.ogg",
	"note1" : "/interface/starboyastropet/note1.ogg",
	"note2" : "/interface/starboyastropet/note2.ogg",
	"note3" : "/interface/starboyastropet/note3.ogg",
	"note4" : "/interface/starboyastropet/note4.ogg"
  }
}
