{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/starboywindowheader.png",
      "fileBody" : "/interface/starboywindowbody.png"
    },
	"scoreLabel" : { 
      "type" : "label",
      "position" : [200, 310],
      "vAnchor" : "mid",
      "hAnchor" : "mid",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
	"livesLabel" : { 
      "type" : "label",
      "position" : [5, 310],
      "vAnchor" : "mid",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
	"levelLabel" : { 
      "type" : "label",
      "position" : [350, 310],
      "vAnchor" : "mid",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 22, 395, 318],
      "captureMouseEvents" : true,
	  "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 324]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Erchuis Escape",
      "subtitle" : "^#b9b5b2;Starboy, Inc",
      "position" : [74, 402],
      "icon" : {
        "type" : "image",
        "file" : "/interface/starboyerchiusescapegame/gameicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
  },

  "scripts" : [ "/interface/starboyerchiusescapegame/starboyerchiusescapegameinterface.lua" ],
  "scriptDelta" : 1,
  
  "openedFromHand" : true,

  "canvasClickCallbacks" : {
    "consoleScreenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "consoleScreenCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [],

  "nameLabel" : "name > ",
  "descriptionLabel" : "description > ",

  "sounds" : {
    "shoot" : "/interface/starboymeteoroidsgame/laser1.ogg",
	"meteoroidExplosion1" : "/interface/starboymeteoroidsgame/meteoroidExplosion1.ogg",
	"meteoroidExplosion2" : "/interface/starboymeteoroidsgame/meteoroidExplosion2.ogg",
	"meteoroidExplosion3" : "/interface/starboymeteoroidsgame/meteoroidExplosion3.ogg",
	"startup" : "/interface/starboymeteoroidsgame/startup.ogg",
	"startup2" : "/interface/starboymeteoroidsgame/startup2.ogg",
	"shiphit" : "/interface/starboymeteoroidsgame/shiphit.ogg",
	"titlescroll" : "/interface/starboymeteoroidsgame/titlescroll.ogg",
	"shipexplosion" : "/interface/starboymeteoroidsgame/shipexplosion.ogg"
  }
}
