{
   "blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "darkwood"
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood",
      "flags" : [ "shipLockerPosition" ],
      "object" : "novakidshiplocker",
      "objectParameters" : {
        "treasurePools" : [ "byosStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : false
      },
      "objectResidual" : true
    },
    
    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood",
      "object" : "novakidshiplockerTier0",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood",
      "object" : "novakidtechstation",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood",	  
      "object" : "novakidfuelhatch",
      "objectParameters" : {
        "unbreakable" : false
      },
      "objectResidual" : true
    },

    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplight",
      "objectResidual" : true
    },
    
    {
      "value" : [191, 191, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplight",
      "objectParameters" : {
        "unbreakable" : false
      }
    },
    
    {
      "value" : [128, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplight",
      "objectParameters" : {
        "unbreakable" : false,
        "defaultLightState" : false
      }
    },

    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "darkwood",
      "object" : "novakidshipdoor",
      "objectResidual" : true
    },
    
    {
      "value" : [128, 51, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "novakidshipdoor",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [174, 137, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "shipengine",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "novakidteleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : false
      }
    },
    
    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood",
      "object" : "novakidteleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [170, 170, 170, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamenovakid",
	  "backgroundMat" : "darkwood",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [167, 168, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamehuman2",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [180, 180, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamehuman3",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [166, 166, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflame",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [100, 100, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflameavian",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [200, 200, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflamehuman",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [168, 168, 168, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "smallboosterflame",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [190, 190, 190, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflamehuman2",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "darkwood",
      "object" : "novakidcaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood"
    },

    {
      "value" : [255, 117, 144],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "darkwood"
    },
    {
      "value" : [210, 33, 210],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "ornatewood"
    },

    {
      "value" : [169, 59, 81],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "glass"
    },
    {
      "value" : [255, 117, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "ornatewood"
    },
	{
	  "value" : [182, 255, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	  "foregroundMat" : "platform",
	  "backgroundMat" : "ornatewood"
	},
	{
      "value" : [255, 106, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "crosshatch"
    },
	    {
      "value" : [255, 255, 220],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
	  "foregroundResidual" : false
    },

    {
      "value" : [255, 200, 220],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
	  "foregroundResidual" : false
    }
  ]
}
