{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/starboywindowheader.png",
      "fileBody" : "/interface/starboysquarewindowbody.png"
    },
	"scoreLabel" : { 
      "type" : "label",
      "position" : [200, 416],
      "vAnchor" : "mid",
      "hAnchor" : "mid",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
	"livesLabel" : { 
      "type" : "label",
      "position" : [5, 416],
      "vAnchor" : "mid",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
	"levelLabel" : { 
      "type" : "label",
      "position" : [350, 416],
      "vAnchor" : "mid",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 30, 395, 424],
      "captureMouseEvents" : true,
	  "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 432]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Ruination",
      "subtitle" : "^#b9b5b2;Starboy, Inc",
      "position" : [74, 500],
      "icon" : {
        "type" : "image",
        "file" : "/interface/starboyruinationgame/gameicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
  },

  "scripts" : [ "/interface/starboyruinationgame/starboyruinationgameinterface.lua" ],
  "scriptDelta" : 1,
  "openedFromHand" : false,
  
  "canvasClickCallbacks" : {
    "consoleScreenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "consoleScreenCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [],

  "nameLabel" : "name > ",
  "descriptionLabel" : "description > ",

  "sounds" : {
    "shoot" : "/interface/starboyruinationgame/machinegun1.ogg",
    "shoot2" : "/interface/starboyruinationgame/machinegun2.ogg",
    "enemyshoot" : "/interface/starboyruinationgame/enemyshoot.ogg",
    "shipdestroyed1" : "/interface/starboyruinationgame/shipdestroyed1.ogg",
    "shipdestroyed2" : "/interface/starboyruinationgame/shipdestroyed2.ogg",
    "playerhit" : "/interface/starboyruinationgame/playerhit2.ogg",
    "bullethit" : "/interface/starboyruinationgame/bullethit.ogg",
    "powerup" : "/interface/starboyruinationgame/powerup.ogg",
	"startup" : "/interface/starboyruinationgame/startup.ogg",
	"startup2" : "/interface/starboyruinationgame/startup2.ogg",
	"defeat": "/interface/starboyruinationgame/shiphit.ogg",
	"barrierhit": "/interface/starboyruinationgame/barrierhit.ogg",
	"boomerang1": "/interface/starboyruinationgame/boomerang1.ogg",
	"flakexplosion": "/interface/starboyruinationgame/flakexplosion.ogg",
	"upgrade1": "/interface/starboyruinationgame/upgrade1.ogg",
	"shotgun1": "/interface/starboyruinationgame/shotgun1.ogg",
	"bulletcollide": "/interface/starboyruinationgame/bulletcollide.ogg",
	"bweep1": "/interface/starboyruinationgame/bweep.ogg",
	"bweep2": "/interface/starboyruinationgame/bweep2.ogg",
	"bombershot": "/interface/starboyruinationgame/bombershot.ogg",
	"drillershot": "/interface/starboyruinationgame/drillershot.ogg",
	"chargeup": "/interface/starboyruinationgame/chargeup.ogg",
	"spawner": "/interface/starboyruinationgame/spawner.ogg",
	"beamhit1": "/interface/starboyruinationgame/beamhit1.ogg",
	"beamhit2": "/interface/starboyruinationgame/beamhit2.ogg"
  }
}