{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/starboywindowheader.png",
      "fileBody" : "/interface/starboywindowbody.png"
    },
	"scoreLabel" : { 
      "type" : "label",
      "position" : [5, 310],
      "vAnchor" : "mid",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
	"levelLabel" : { 
      "type" : "label",
      "position" : [350, 310],
      "vAnchor" : "mid",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "TESTING NEW LABEL",
      "color" : [180, 180, 180],
	  "visible" : false,
      "mouseTransparent" : true
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 22, 395, 318],
      "captureMouseEvents" : true,
	  "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 324]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Ronin Rumble",
      "subtitle" : "^#b9b5b2;Starboy, Inc",
      "position" : [74, 402],
      "icon" : {
        "type" : "image",
        "file" : "/interface/starboyroninrumblegame/gameicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
  },

  "scripts" : [ "/interface/starboyroninrumblegame/starboyroninrumblegameinterface.lua" ],
  "scriptDelta" : 1,
  "openedFromHand" : false,

  "canvasClickCallbacks" : {
    "consoleScreenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "consoleScreenCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [],

  "nameLabel" : "name > ",
  "descriptionLabel" : "description > ",

  "words3" : ["air", "ace", "aim", "axe", "ape", "arm", "awe", "bad", "bag", "bay", "bed", "bet", "big", "boa", "bog", "bot",
  "bow", "bug", "bye", "cat", "cod", "cog", "cow", "cub", "cup", "dam", "dew", "dim", "dog", "dry", "dub", "dig", "dye",
  "eat", "eco", "eel", "egg", "eon", "era", "eye", "fed", "fen", "fin", "fix", "fly", "fog", "foe", "fox", "fry", "fun",
  "fur", "gar", "gas", "gem", "get", "goo", "gut", "gun", "ham", "hen", "hop", "hew", "hog", "hot", "ice", "ink", "ire",
  "ivy", "jaw", "jab", "jay", "jog", "jug", "keg", "kin", "koi", "lab", "law", "lax", "leg", "lid", "log", "mad", "map",
  "mat", "maw", "max", "mew", "moa", "moo", "mow", "mud", "mug", "nab", "nav", "nay", "new", "net", "nil", "nod", "now",
  "not", "oak", "oar", "odd", "off", "oil", "old", "orb", "ore", "owl", "pal", "oat", "pat", "paw", "pet", "pie", "pig",
  "pod", "pow", "pro", "pun", "pup", "ram", "raw", "red", "rig", "rod", "rot", "row", "rug", "sad", "sap", "saw", "sea",
  "shy", "sip", "sit", "sky", "sod", "sun", "sow", "sub", "tad", "tap", "tea", "the", "tie", "toe", "thy", "toy", "try",
  "tub", "tow", "urn", "van", "vet", "vex", "wag", "yaw", "yet", "zap"],
  
  "words4" : ["frog", "seed", "bite", "claw", "able", "aced", "achy", "acid", "afar",
   "aged", "ahoy", "amid", "ammo", "apex", "aqua", "arid", "arts", "aura", "baby", "back", "bait",
   "bake", "band", "bane", "bank", "bard", "barn", "base", "bash", "bass", "bath", "bawk", "bead",
   "beam", "bean", "bear", "beat", "beef", "bend", "best", "bide", "bird", "blip", "blob", "blub",
   "blue", "blur", "boar", "boat", "bold", "bola", "bone", "book", "boss", "bowl", "brow", "buff",
   "bump", "bush", "byte", "cafe", "cage", "cake", "calm", "camp", "cape", "card", "carp", "cart",
   "cask", "cast", "cave", "chad", "chat", "chef", "chip", "chum", "city", "clam", "clan", "clay",
   "clod", "club", "coal", "coat", "coil", "cold", "coma", "comb", "cook", "coop", "cord", "core",
   "corn", "cove", "crab", "crag", "crop", "crow", "crux", "cure", "cute", "cyan", "daft", "dame",
   "damp", "dare", "dark", "dart", "dash", "data", "dawn", "daze", "deal", "debt", "deep", "deli",
   "dent", "dewy", "ding", "dino", "dirk", "dirt", "disk", "dish", "dive", "dock", "dolt", "done",
   "doom", "dove", "drab", "drag", "drip", "drop", "duck", "duct", "duet", "dump", "dune", "dusk",
   "dust", "each", "ease", "echo", "eddy", "edge", "edit", "epic", "ergo", "exam", "exit", "evil",
   "ever", "fact", "fade", "face", "fake", "fame", "farm", "fast", "fear", "fell", "fern", "feud",
   "film", "find", "fire", "fish", "fist", "fizz", "flag", "flap", "flax", "flee", "flex", "flip",
   "flow", "foam", "foil", "fond", "food", "foot", "fort", "fowl", "fray", "free", "fuel", "fugu",
   "fury", "fuzz", "fuse", "gain", "gale", "gang", "gasp", "gave", "gaze", "gene", "germ", "gift",
   "gist", "glee", "glow", "gnaw", "goat", "gold", "good", "grab", "gray", "grim", "grow", "guru",
   "hail", "halo", "halt", "hand", "hard", "hark", "harp", "hawk", "haze", "head", "heal", "heat",
   "heir", "helm", "herb", "here", "hero", "hide", "hike", "hint", "hive", "hoax", "hold", "hole",
   "holy", "honk", "hook", "horn", "howl", "hull", "husk", "iced", "icon", "idol", "info", "iris",
   "iron", "isle", "item", "jade", "jail", "jazz", "jest", "junk", "kale", "keen", "kelp", "kick",
   "king", "kite", "kiwi", "knit", "lace", "lack", "lake", "lamb", "lamp", "land", "lark", "lash",
   "late", "lawn", "lead", "leaf", "leak", "leap", "liar", "life", "lift", "lion", "loaf", "lock",
   "loop", "lore", "luck", "lunk", "lure", "lurk", "lush", "lynx", "lyre", "mace", "made", "mage",
   "mane", "mask", "mast", "math", "maze", "meat", "mech", "mega", "memo", "mice", "milk", "mind",
   "mire", "mist", "mold", "monk", "moon", "moth", "murk", "myth", "nail", "navy", "newt", "node",
   "noon", "oboe", "ogre", "only", "ooze", "open", "orca", "oven", "oxen", "page", "pale", "path",
   "pawn", "peak", "pear", "peon", "perk", "pick", "pike", "play", "plow", "poem", "pond", "pull",
   "pulp", "punk", "pyre", "quiz", "race", "raft", "rage", "ramp", "rank", "raze", "read", "reef",
   "reek", "reel", "rend", "rice", "ribs", "rift", "ring", "risk", "robe", "rock", "rook", "root",
   "ruby", "ruin", "rust", "safe", "saga", "sale", "sand", "sash", "sass", "scar", "scry", "seal",
   "seed", "seer", "shut", "sift", "silk", "silt", "sink", "size", "slam", "slip", "slug", "snow",
   "soak", "soar", "soft", "soil", "soot", "soul", "spar", "spin", "stab", "surf", "swim", "taco",
   "talk", "tall", "tarp", "taxi", "teal", "team", "text", "thaw", "thin", "thud", "tier", "time",
   "tiny", "toad", "tofu", "tome", "town", "trap", "tree", "true", "udon", "upon", "user", "vain",
   "vase", "veil", "vest", "vial", "vine", "void", "volt", "wade", "wail", "walk", "wall", "warm",
   "wasp", "wave", "weak", "wear", "what", "when", "whim", "whip", "wick", "wild", "wind", "wisp",
   "wood", "worm", "yack", "yard", "year", "yell", "yeti", "yoke", "zeal", "zero", "zest", "zinc",
   "zone", "zoom"],
   
   "words5" : ["abate","abbey","above","acorn","adore","again","agent","agile","ahead","aisle",
   "alarm","algae","align","alley","alpha","amaze","amber","anger","ankle","aphid","arena","argon",
   "arise","aroma","arrow","attic","badge","bagel","baker","balmy","banjo","basil","bayou","beast",
   "begin","beige","berry","biker","bingo","biome","blade","blast","blimp","blink","bloom","bluff",
   "brake","brawl","bread","brisk","brook","build","cache","cairn","camel","cargo","catch","cease",
   "champ","chaos","charm","chasm","chess","chill","chomp","clear","climb","cloud","cobra","codex",
   "comet","covet","crane","cream","crest","crisp","cross","crypt","curse","dairy","decoy","delta",
   "diner","dingo","ditto","dodge","doubt","dregs","droid","drone","dummy","eagle","early","earth",
   "eerie","elite","enemy","epoch","error","exile","extra","false","fancy","fated","field","fight",
   "flail","flask","flesh","float","flour","fluke","forge","frond","futon","gamer","gecko","ghast",
   "given","glare","glass","glint","glove","glyph","gnome","grade","grape","grasp","great","grime",
   "group","grump","guppy","habit","haiku","happy","hatch","heart","hobby","hotel","hound","humid",
   "hyena","ichor","ideal","igloo","image","ingot","irony","knock","known","lanky","large","larva",
   "jewel","joker","judge","juice","kayak","knave","leash","leech","lemon","limit","lobby","logic",
   "lucky","lyric","macro","magic","magma","mango","marsh","match","meant","medal","melee","melon",
   "mercy","messy","metal","might","mimic","mined","mirky","moose","motor","muddy","mulch","nacho",
   "naive","neigh","night","nitro","noise","nudge","oasis","omega","onion","otter","ounce","pager",
   "paint","panel","pants","parry","pasta","paste","peach","pearl","perch","petal","phase","piano",
   "pilot","piper","pixel","pizza","plain","plant","plume","poach","poise","polar","polka","polyp",
   "pooch","power","prawn","price","pride","prism","proxy","pylon","quake","qualm","queen","quick",
   "quiet","quill","quirk","quote","radar","rainy","range","raven","reach","react","realm","rebel",
   "regal","relic","renew","ridge","rival","roast","rodeo","roost","rough","rouse","royal","rural",
   "saber","sassy","scald","scarf","scene","scope","scout","scute","sense","shack","shade","shake",
   "shale","shark","sharp","sheep","shell","shiny","shore","shred","sight","sigil","siren","skink",
   "slime","smart","smirk","snake","snare","solid","sound","space","spark","spiky","sprig","squad",
   "squid","staff","steak","steam","sting","stone","storm","straw","stump","swarm","swift","sword",
   "syrup","taffy","taser","tasty","tepid","thief","tiger","tinge","toast","topaz","torch","totem",
   "tower","track","train","trash","trial","tribe","troll","tunic","umber","unbox","union","until",
   "upper","usurp","valor","vapor","venom","video","vigor","visit","vocab","voice","wader","waist",
   "waste","water","weald","wedge","wheat","wheel","which","whine","width","world","worry","wrath",
   "yacht","yappy","yeast","yield","zilch"],
   
   "words6" : ["abacus", "abduct", "abject", "ablate", "aboard", "abrupt", "absent", "absorb", "actual", "acumen", 
   "adhere", "adrift", "affect", "afloat", "alcove", "almond", "angler", "animal", "antler", "appear", "arcana", "arcade", 
   "armory", "arrest", "artist", "assume", "asylum", "atrium", "aurora", "azalea", "backup", "badger", "ballad", "banish", 
   "banner", "barber", "barrow", "beacon", "became", "beetle", "before", "belief", "beluga", "benign", "bigger", "bishop", 
   "bisque", "blanch", "blouse", "branch", "breech", "broach", "bronze", "brutal", "bucket", "budget", "bumble", "bureau", 
   "cackle", "cactus", "calmly", "campus", "cannon", "canopy", "canvas", "canyon", "career", "carrot", "cattle", "cavern", 
   "cement", "cheese", "cherry", "churro", "cicada", "cleave", "clever", "cocoon", "coerce", "cohort", "common", "condor", 
   "copper", "cowboy", "creepy", "crispy", "crouch", "cruise", "cyborg", "cygnet", "dabble", "dampen", "dazzle", "debate", 
   "deduce", "defend", "deform", "deluge", "demand", "depart", "design", "detach", "devour", "dimple", "disarm", "dismal", 
   "doctor", "donkey", "dynamo", "eclair", "edible", "effect", "effigy", "elixir", "emerge", "enamor", "encore", "engage", 
   "enlist", "enrage", "ensure", "enzyme", "eraser", "errant", "esteem", "exceed", "exhale", "exodus", "expose", "facade", 
   "factor", "falcon", "fallow", "famous", "fathom", "fellas", "fender", "fennec", "ferret", "fiasco", "fidget", "filter", 
   "finery", "flinch", "flurry", "forage", "forgot", "fossil", "frigid", "fungus", "future", "futile", "gadget", "galaxy", 
   "gallop", "gamble", "garden", "gerbil", "giggly", "gingko", "glider", "glitch", "goblin", "growth", "guffaw", "hangar", 
   "handle", "hearth", "heater", "hectic", "height", "hermit", "heroic", "hidden", "hockey", "hollow", "honest", "hoodie", 
   "horror", "hotdog", "hungry", "hunter", "hustle", "ignite", "immune", "impede", "import", "incase", "indigo", "indoor", 
   "inform", "injury", "inland", "invert", "island", "isopod", "italic", "jasmin", "jester", "jostle", "juggle", "jumble", 
   "kaiser", "kelvin", "kernel", "keypad", "kindle", "kraken", "ladder", "lagoon", "latent", "launch", "lavish", "lazuli", 
   "legacy", "ledger", "legend", "legion", "legume", "length", "levity", "lichen", "linear", "lively", "lizard", "locker", 
   "lumber", "lurker", "luxury", "magpie", "mangey", "manner", "market", "marlin", "meadow", "meager", "meddle", "medley", 
   "menace", "meteor", "mingle", "minnow", "mirror", "mishap", "mobile", "module", "mohawk", "mortar", "motion", "muffin", 
   "museum", "mussel", "muster", "mutter", "mythos", "namely", "napkin", "native", "nature", "nausea", "nearby", "nectar", 
   "nebula", "neuron", "noodle", "normal", "nugget", "object", "occult", "ocelot", "ocular", "offend", "oppose", "oracle", 
   "orphan", "oxygen", "pacify", "packet", "paddle", "parody", "parrot", "pastry", "peanut", "people", "pepper", "petite", 
   "photon", "pickle", "pillow", "piracy", "piston", "planet", "pollen", "ponder", "portal", "powder", "preset", "proton", 
   "psyche", "puffin", "pulley", "pulsar", "puppet", "puzzle", "quarry", "quokka", "rabbit", "rabble", "racoon", "radius", 
   "raider", "rarity", "rascal", "rattle", "ravage", "reaver", "reboot", "recall", "recent", "reckon", "recoil", "redeem", 
   "reflex", "refuel", "region", "relief", "remove", "renown", "report", "resist", "result", "retire", "reverb", "ripple", 
   "ritual", "rodent", "roster", "rubber", "sacred", "safari", "salmon", "sandal", "saucer", "scampi", "scorch", "scrawl", 
   "scythe", "select", "sensor", "shovel", "shrimp", "sierra", "siphon", "sizzle", "sketch", "sliver", "solemn", "sphynx", 
   "splice", "sprite", "strait", "stream", "strife", "strike", "subset", "subtle", "summon", "symbol", "system", "tabard", 
   "tackey", "tackle", "talent", "tamper", "tandem", "tanker", "target", "tattoo", "tedium", "tendon", "tensor", "theory", 
   "thrall", "threat", "thrown", "toucan", "toward", "tragic", "travel", "trivia", "trophy", "truant", "tryout", "tumble", 
   "tundra", "turnip", "twitch", "umbral", "unbent", "uneasy", "unjust", "unveil", "uphold", "uproar", "uproot", "vacant", 
   "vendor", "viable", "viking", "violin", "volley", "voodoo", "walnut", "warmth", "weapon", "weaver", "wheeze", "wicker", 
   "wiggly", "window", "within", "worthy", "wyvern", "yakuza", "yellow", "zenith", "zither", "zombie"],
   
  
  "sounds" : {
	"startup" : "/interface/starboyroninrumblegame/startup.ogg",
	"startup2" : "/interface/starboyroninrumblegame/startup2.ogg",
	"hyoshigi1": "/interface/starboyroninrumblegame/hyoshigi1.ogg",
	"hyoshigifinal": "/interface/starboyroninrumblegame/hyoshigifinal.ogg",
	"tsuzumi1": "/interface/starboyroninrumblegame/tsuzumi1.ogg",
	"swordtink1": "/interface/starboyroninrumblegame/swordtink1.ogg",
	"swordtink2": "/interface/starboyroninrumblegame/swordtink2.ogg",
	"swordtink3": "/interface/starboyroninrumblegame/swordtink3.ogg",
	"swordtink4": "/interface/starboyroninrumblegame/swordtink4.ogg",
	"swordtink5": "/interface/starboyroninrumblegame/swordtink5.ogg",
	"swordparry": "/sfx/melee/sword_parry.ogg"
  }
}
